*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home{
    border: 1px solid red;
    height: 95vh;
    background-color: bisque;
}

section{
    color: red;
    width: 40%;
    float: left;
}

.color-brown{
    color: brown;
}